<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Learn - Financial Education</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: white;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Financial Education</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="learn.html">Learn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/community">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container my-5">
      <div class="row">
        <div class="col-md-8">
          <h1>Learn About Personal Finance</h1>
          <p>
            Learning about personal finance involves gaining knowledge and understanding about managing your own money and financial resources. This can include topics such as budgeting, saving, investing, debt management, retirement planning, and more.

By learning about personal finance, you can make informed decisions about how to allocate your money and resources, avoid financial pitfalls and debt, and work towards achieving your long-term financial goals. It can also help you become more financially secure, reduce financial stress, and improve your overall well-being.

Personal finance is a life-long learning process, as financial needs and circumstances can change over time. Some ways to learn about personal finance include reading books, taking courses or workshops, seeking advice from financial professionals, and seeking out reliable online resources.

Overall, developing a strong foundation of knowledge and skills in personal finance can help you make better financial decisions, achieve your financial goals, and feel more confident and empowered in managing your money.
          </p>
         
        </div>
        <div class="col-md-4">
          <h3>Popular Articles</h3>
          <ul class="list-group">
            <li class="list-group-item"><a href="https://www.investopedia.com/insights/what-is-money/">Concept of money</a></li>
            <li class="list-group-item"><a href="https://www.investopedia.com/articles/03/082703.asp">Time value of money</a></li>
            <li class="list-group-item"><a href="https://www.investopedia.com/terms/i/investment.asp">Investment</a></li>
            <li class="list-group-item"><a href="https://www.investopedia.com/terms/a/alternative_investment.asp">Alternate investment</a></li>
            <li class="list-group-item"><a href="https://www.investopedia.com/ask/answers/031615/what-impact-does-economics-have-government-policy.asp">Economy and government</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>
</html>    