<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Learn - Financial Education</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: white;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Financial Education</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="learn.html">Learn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="community.html">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container my-5">
      <div class="row">
        <div class="col-md-8">
          <h1>Learn About Personal Finance</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor,
            diam eu luctus lacinia, massa turpis bibendum nunc, nec porttitor purus
            turpis et nulla. Etiam auctor velit vitae nunc molestie, sed lobortis
            mi tristique. Nullam porttitor elit vel nisl fermentum fringilla. Fusce
            ac urna a erat congue scelerisque eu quis enim. Maecenas mattis eget
            augue nec venenatis. Nam ullamcorper mauris sed dolor luctus, eu facilisis
            lacus feugiat. Pellentesque id quam id ipsum semper vulputate. Vivamus
            vel augue tristique, sagittis sapien eu, maximus nulla. Sed non est ac
            massa gravida tincidunt at a erat. Aliquam sed tellus ex.
          </p>
          <p>
            Phasellus eget euismod lectus. Aliquam fermentum lectus a justo elementum
            varius. Sed aliquet magna at tellus consectetur vestibulum. Curabitur
            eget enim vel massa ultrices finibus. Duis non turpis nunc. Nunc
            faucibus eros eu enim luctus dapibus. Nunc in mauris dolor. Cras vel
            arcu pharetra, ornare lacus vel, pretium velit. Aliquam euismod,
            turpis ac rutrum dignissim, odio urna consequat diam, at mollis
            sapien lacus quis odio.
          </p>
        </div>
        <div class="col-md-4">
          <h3>Popular Articles</h3>
          <ul class="list-group">
            <li class="list-group-item"><a href="#">Article 1</a></li>
            <li class="list-group-item"><a href="#">Article 2</a></li>
            <li class="list-group-item"><a href="#">Article 3</a></li>
            <li class="list-group-item"><a href="#">Article 4</a></li>
            <li class="list-group-item"><a href="#">Article 5</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>
</html>    